.accordion.block {
  display: flex;
  flex-direction: row;
}

.accordion.block .accordion-panel {
  border: 3px solid red;
  height: 296px;
  position: relative;
  overflow: hidden;
}

.accordion.block .accordion-panel-selected {
}

.accordion.block .accordion-item-title {
}

.accordion.block .accordion-item-image {
  overflow: hidden;
}

.accordion.block .accordion-item-image > picture {
  display: flex;
  position: absolute;
  z-index: -5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.accordion.block .accordion-item-image > picture img {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.accordion.block .accordion-item-description {
  display: none;
}

/* Responsive breakpoints */
@media screen and (min-width: 960px) {
  .accordion.block .accordion-panel {
    height: 580px;
  }

  .accordion.block .accordion-panel-selected {
    height: 628px;
    margin-top: -24px;
  }

  .accordion.block .accordion-item-description {
    display: flex;
    flex-direction: column;
  }

  .accordion.block .accordion-item-description .button-container {
    text-align: right;
  }
}