/*
Stats Block (2->3->5 columns per row across key media breakpoints)
*/

div.stats-container {
  padding: 0;
}

div.stats-container .stats>div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16px;
  column-gap: 16px;
}

div.stats-container .stats>div>div {
  margin: 16px 0;
}

div.stats-container .stats h1 {
  --heading-font-family: 'Montserrat', sans-serif;
  /* Override var locally */

  font-weight: 800;
  font-size: 70px;
  line-height: 1;
  text-align: center;
  padding-bottom: 32px;
}

div.stats-container .stats h3 {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}

div.stats-container .stats svg {
  width: 1.25em;
}

div.stats-container .stats p {
  text-align: center;
}

/* Responsive breakpoints */
@media (min-width: 768px) {
  div.stats-container .stats>div {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 960px) {
  div.stats-container .stats>div {
    grid-template-columns: repeat(5, 1fr);
  }

  div.stats-container .stats h3 {
    font-size: 26px;
  }
}