div.stats-container {
  padding: 0;
}

div.stats-container .long-stats,
div.stats-container .short-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: var(--layout-size-m);
  column-gap: var(--layout-size-m);
}

div.stats-container .stats > div > div {
  margin: var(--layout-size-m) 0;
}

div.stats-container .stats h1 {
  --heading-font-family: 'Montserrat', sans-serif;

  font-weight: 800;
  font-size: 70px;
  line-height: 1;
  text-align: center;
  padding-bottom: var(--layout-size-xl);
}

div.stats-container .stats h3 {
  font-size: var(--heading-font-size-l);
  text-align: center;
  text-transform: uppercase;
}

div.stats-container .stats svg {
  height: 56px;
}

div.stats-container .stats p {
  text-align: center;
  margin-top: var(--layout-size-l);
  padding-bottom: 0;
}

/* Responsive breakpoints */
@media (min-width: 768px) {
  div.stats-container .long-stats,
  div.stats-container .short-stats {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 80px;
  }
}

@media (min-width: 960px) {
  div.stats-container .short-stats {
    grid-template-columns: repeat(5, 1fr);
  }

  div.stats-container .long-stats {
    grid-template-columns: repeat(3, 1fr);
  }

  div.stats-container .stats h3 {
    font-size: var(--heading-font-size-teaser);
  }
}