

.menu-options > div {
    display: flex;
}

.menu-options > div > div > h2 {
    font-weight: 700;
    font-size: 22px;
}

.menu-options > div > div > .menu-link {
    display: flex;
    gap: 5%;
}

.menu-options > div > div > .menu-link > a {
    font-size: 16px;
    font-weight: bold;
}

.menu-options > div > div > p .icon-pdf {
    width: 16px;
    height: 24px;
}