.menu-options-container {
    background-color: var(--static-color-light-gray);
}

.menu-options {
    box-sizing: border-box
}

.menu-options > div {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.menu-options > div > div > h2 {
    font-weight: 700;
    font-size: 22px;
}

.menu-options > div > div > .menu-link {
    display: flex;
    gap: 5%;
}

.menu-options > div > div > .menu-link > a {
    font-size: 16px;
    font-weight: bold;
}

.menu-options > div > div > p .icon-pdf {
    width: 16px;
    height: 24px;
}

.menu-options .icon-checkmark,
.menu-options .icon-crossmark
 {
    width: 32px;
    height: 32px;
}

.menu-options .menu-rewards {
    display: flex;
    margin-top: 5%;
}

.menu-options .menu-rewards h4 {
    display: flex;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 18px;
    align-items: center;
    color: #343840;
    font-family: var(--body-font-family);
    gap: 4%;
}