.highlight-card.block .highlight-card-image {
  background: #141414;
  position: relative;
  height: 460px;
  margin-top: 100px;
  margin-right: 240px;
}

.highlight-card.block .highlight-card-image img {
  position: absolute;
  object-fit: cover;
  height: 580px;
  padding-left: 120px;
  top: -120px;
}

.highlight-card.block .highlight-card-text {
  display: flex;
  align-items: center;
  background: #141414;
  color: #fff;
  padding-left: 16px;
  padding-bottom: 16px;
  margin-right: 240px;
}

.highlight-card.block .highlight-card-text h4 {
  text-transform: uppercase;
}

.highlight-card.block .highlight-card-action {
  margin-right: 16px;
  margin-left: 16px;
}