.highlight-card.block .highlight-card-image {
  background: var(--static-color-black);
  position: relative;
  height: 460px;
  margin-top: 100px;
  margin-right: 240px;
}

.highlight-card.block .highlight-card-image img {
  position: absolute;
  object-fit: cover;
  height: 580px;
  padding-left: 120px;
  top: -120px;
}

.highlight-card.block .highlight-card-text {
  display: flex;
  align-items: center;
  background: var(--static-color-black);
  color: var(--static-color-white);
  padding-left: 16px;
  padding-bottom: 16px;
  margin-right: 240px;
}

.highlight-card.block .highlight-card-text h4 {
  text-transform: uppercase;
}

.highlight-card.block .button-container {
  padding-right: 16px;
  padding-left: 16px;
}

.highlight-card-wrapper {
  display: flex;
}