.highlight-card {
}

.highlight-card-image {
  background: #141414;
  margin-top: 100px;
  position: relative;
  height: 460px;
  margin-right: 240px;
}

.highlight-card-image img {
  padding-left: 120px;
  position: absolute;
  top: -120px;
  height: 580px;
  object-fit: cover;
}

.highlight-card-text {
  display: flex;
  background: #141414;
  padding-left: 16px;
  padding-bottom: 16px;
  align-items: center;
  color: #fff;
  margin-right: 240px;
}

.highlight-card-text h4 {
  text-transform: uppercase;
}

.highlight-card-text em {
  padding-right: 16px;
  padding-bottom: 16px;
}