.section.columns-container .default-content-wrapper {
    text-align: center;
}

.columns > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
}

.columns > div > div {
    text-align: center;
}

.columns.intro > div > div {
    text-align: justify;
}

.columns img {
    width: 100%;
}

.columns.product-quickfacts.stretch-end {
  width: 100%;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 30px;
}

/* Intro variation */
.columns.columns-2-cols.intro {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    padding: 40px 0 0;
    margin: 0 0 var(--layout-size-m);
}

/* CET Card variation */
.columns.columns-2-cols.cet-card > div {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    background: var(--static-color-white);
}

.columns.columns-2-cols.cet-card > div > div {
    text-align: unset;
}

.columns.product-quickfacts.stretch-end > div > div {
  flex: 1;
  display: flex;
  justify-content: center;
  font-family: var(--body-font-family);
  font-size: 16px;
}

.columns.product-quickfacts.stretch-end img {
  max-height: 100px;
  max-width: 200px;
  margin-bottom: 32px;
  margin-top: 24px;
}

.columns.columns-2-cols.intro > div:first-child {
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.columns.columns-2-cols.intro > div:last-child {
    max-width: 460px;
}

.columns.columns-2-cols.intro > div:first-child > div {
    text-align: unset;
}

.columns.columns-2-cols.cet-card.image-end > div:first-child {
    flex-direction: column-reverse;
}

.columns.columns-2-cols.intro > div:first-child > div:first-child {
    text-transform: uppercase;
}

.columns.columns-2-cols.cet-card p:not(.button-group) {
    margin: 0 0 var(--layout-size-l);
}

.columns.columns-2-cols.intro > div:first-child p.button-container {
    margin: 0;
}

.columns.columns-2-cols.intro > div:first-child p:not(.button-container) {
    display: none;
}

.columns.columns-2-cols.cet-card.image-end > div > div:first-child {
    padding: var(--layout-size-m);
}

.columns.columns-2-cols.cet-card.image-start > div > div:last-child {
    padding: var(--layout-size-m);
}

.columns.columns-2-cols.cet-card .button-group {
    text-align: right;
}

.columns.columns-2-cols.cet-card h1,
.columns.columns-2-cols.cet-card h2,
.columns.columns-2-cols.cet-card h3,
.columns.columns-2-cols.cet-card h4 {
    margin: 0 0 var(--layout-size-l) -4px;
    text-transform: uppercase;
}

.columns-wrapper:not(:last-child) .columns.columns-2-cols.cet-card > div:last-child {
    margin-bottom: var(--layout-size-l);
}

@media (min-width: 768px) {
    .columns [data-align='center'] {
        text-align: center;
    }

    .columns [data-align='left'] {
        text-align: left;
    }

    .columns [data-align='right'] {
        text-align: right;
    }

    .columns > div {
        display: flex;
        flex-flow: row nowrap;
        gap: 32px;
        align-items: center;
    }

    .columns > div > div {
        text-align: left;
    }

    .columns:not(.stretch-start) > div > div,
    .columns:not(.stretch-end) > div > div {
        flex: 1;
    }

    .columns.columns-2-cols.intro {
        margin: 0 0 var(--layout-size-l);
    }

    .columns.columns-2-cols.intro > div {
        gap: 24px;
        align-items: unset;
    }

    .columns.columns-2-cols.cet-card > div {
        box-shadow: none;
        background: unset;
    }

    .columns.cet-card.full-width {
        height: 667px;
    }

    .columns.cet-card.full-width > div {
        height: 100%;
        margin: 0 auto;
    }

    .columns.stretch-start > div > div:first-of-type {
        flex: 4;
    }

    .columns.stretch-end > div > div:last-of-type {
        flex: 4;
    }

    .columns.columns-2-cols.cet-card .button-group {
        text-align: left;
    }

    .columns.product-quickfacts.stretch-end > div > div {
      justify-content: right;
    }

    .columns.columns-2-cols.intro > div:last-child {
        display: none;
    }

    .columns.columns-2-cols.intro > div:first-child {
        justify-content: unset;
    }

    .columns.product-quickfacts.stretch-end {
      width: 80%;
      margin-bottom: 32px;
    }

    .columns.product-quickfacts.stretch-end img {
      max-height: 100px;
      max-width: 200px;
      margin-bottom: unset;
    }

    .columns.columns-2-cols.intro > div:first-child > div {
        flex: unset;
    }

    .columns.columns-2-cols.cet-card.image-end > div:first-child {
        flex-direction: unset;
    }

    .columns.columns-2-cols.intro > div:first-child h1 {
        font-size: 68px;
        line-height: 0.8;
    }

    .columns.columns-2-cols.intro > div:first-child > div:first-child {
        text-align: right;
        min-width: 240px;
    }

    .columns.columns-2-cols.intro > div:first-child > div:last-child {
        max-width: 460px;
    }

    .columns.columns-2-cols.cet-card.full-width.image-start > div > div:last-child,
    .columns.columns-2-cols.cet-card.full-width.image-end > div > div:first-child {
        background-color: rgb(36 36 43 / 90%);
        color: var(--static-color-white);
        max-width: 500px;
        padding: 0;
    }

    .columns.columns-2-cols.cet-card.full-width.image-end > div > div:first-child .button-container.button-group {
        text-align: right;
    }

    .columns.columns-2-cols.cet-card.full-width.image-end > div > div:first-child .button-container.button-group .button.primary {
        background-color: var(--static-color-white);
        border: 1px solid var(--static-color-gray-dark);
        color: var(--text-color);
    }

    .columns.columns-2-cols.cet-card.full-width > div > div > * {
        padding: 0 48px;
    }

    .columns.columns-2-cols.cet-card.full-width > div > div > :first-child {
        padding-top: 48px;
    }

    .columns.columns-2-cols.cet-card.full-width > div > div > :last-child {
        padding-bottom: 48px;
        margin: 0;
    }

    .columns.columns-2-cols.intro > div:first-child p:not(.button-container) {
        display: unset;
        margin: 0;
        text-align: justify;
    }
}

@media only screen and (min-width: 960px) {
    .columns.columns-2-cols.intro > div {
        gap: 48px;
    }

    .columns.columns-2-cols.intro > div:first-child h1 {
        font-size: 80px;
    }

    .columns.columns-2-cols.intro > div:first-child > div:first-child {
        min-width: 260px;
        padding-left: 96px;
    }

    .columns.columns-2-cols.intro > div:first-child > div:last-child {
        max-width: 460px;
    }
}

@media (min-width: 1170px) {
    .columns.columns-2-cols.intro {
        padding: 80px 0 0;
    }

    .columns.columns-2-cols.intro > div:first-child h1 {
        font-size: 94px;
    }

    .columns.columns-2-cols.intro > div:first-child > div:first-child {
        min-width: 280px;
        padding-left: 130px;
    }

    .columns.columns-2-cols.intro > div:first-child > div:last-child {
        max-width: 620px;
    }

    .columns.columns-2-cols.cet-card.image-end:not(.full-width) > div > div:nth-child(even) > h3,
    .columns.columns-2-cols.cet-card.image-end:not(.full-width) > div > div:nth-child(even) > p {
        padding-left: 190px;
    }

    .columns.columns-2-cols.cet-card.image-end:not(.full-width) > div > div:nth-child(odd) > h3,
    .columns.columns-2-cols.cet-card.image-end:not(.full-width) > div > div:nth-child(odd) > p {
        padding-right: 190px;
    }

    .columns.columns-2-cols.cet-card.image-start:not(.full-width) > div > div:nth-child(even) > h3,
    .columns.columns-2-cols.cet-card.image-start:not(.full-width) > div > div:nth-child(even) > p {
        padding-left: 190px;
    }

    .columns.columns-2-cols.cet-card.image-start:not(.full-width) > div > div:nth-child(odd) > h3,
    .columns.columns-2-cols.cet-card.image-start:not(.full-width) > div > div:nth-child(odd) > p {
        padding-right: 190px;
    }
}

@media (min-width: 1440px) {
    .columns.columns-2-cols.intro > div:first-child > div:first-child {
        min-width: 380px;
        padding-left: 150px;
    }

    .columns.columns-2-cols.intro > div:first-child > div:last-child {
        max-width: 740px;
    }
}