.form {
  background-color: var(--static-color-white);
  padding: var(--spacing-m);
  box-shadow: 0 1px 6px rgb(34 34 34 / 10%);
}

.form.sign-in {
  box-shadow: none;
}

.form h2 {
  padding: var(--spacing-m) 0;
  font-size: var(--type-heading-l-lh);
  font-weight: normal;
}

.form h3 {
  padding-top: var(--spacing-m);
  font-size: var(--type-heading-m-size);
  font-weight: bold;
  text-transform: uppercase;
}

.form input,
.form textarea,
.form select {
  border: 1px solid var(--static-color-gray);
  padding: 11px;
  border-radius: 0;
  width: 100%;
  max-width: 50rem;
  box-sizing: border-box;
  margin-top: 4px;
}

.form textarea {
  min-height: 100px;
}

.form.sign-in input,
.form.sign-in textarea,
.form.sign-in select {
  padding: 16px 16px 4px;
  font-size: var(--heading-font-size-xs);
}

.form.sign-in input.error,
.form.sign-in textarea.error,
.form.sign-in select.error { 
  border-color: var(--static-color-red);
}

.form input:hover,
.form select:hover {
  border-color: var(--static-color-gray-dark);
}

.form label {
  width: 100%;
  display: block;
  font-size: var(--type-body-s-size);
  line-height: var(--type-body-s-lh);
  padding-bottom: var(--spacing-xs);
  text-transform: uppercase;
  box-sizing: border-box;
  font-weight: var(--heavy-font-weight);
}

.form.sign-in label {
  position: absolute;
  margin-left: 16px;
  margin-top: 24px;
  font-size: var(--heading-font-size-xs);
  color: var(--static-color-gray-dark);
  transform: scale(1) translateY(-50%);
  transform-origin: top left;
  transition: transform .4s ease;
  pointer-events: none;
  z-index: 1;
  text-transform: none;
  font-weight: var(--light-font-weight);
}

.form span.input-error {
  display: none;
  font-size: 11px;
  color: var(--static-color-red);
  line-height: 1.5;
}

.form span.input-error.active {
  display: flex;
}

.form.sign-in label.active {
  color: var(--static-color-black);
  transform: scale(0.71) translateY(-50%) translateY(-11px);
}

.form label.required::after {
  content: "*";
  color: var(--static-color-red);
  padding-left: 5px;
}

.form.form.sign-in label.required::after {
  display: none;
}

.form .field-wrapper {
  margin-bottom: 20px;
}

.form.sign-in .field-wrapper {
  margin-bottom: 16px;
}

.form .form-checkbox-wrapper {
  display: flex;
  margin: var(--spacing-s) 0;
}

.form .form-checkbox-wrapper input[type='checkbox'] {
  appearance: none;

  /* stylelint-disable */
  -webkit-appearance: none;
  -moz-appearance: none;

  /* stylelint-enable */
  height: 30px;
  width: 30px;
  position: relative;
  border: unset;
  padding: unset;
  margin-right: 5px;
  margin-left: 0;
}

.form .form-checkbox-wrapper input[type='checkbox']::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  content: ' ';
  background: url('./checkbox.svg');
  background-size: contain;
}

.form .form-checkbox-wrapper input[type='checkbox']:checked::after {
  background: url('./checkbox-checked.svg');
  background-size: contain;
  content: ' ';
}

.form .form-checkbox-wrapper label {
  font-size: var(--type-body-m-size);
  line-height: var(--type-body-m-lh);
  font-weight: normal;
  text-transform: none;
  display: block;
}

.form .button {
  cursor: pointer;
  background: #1473e6;
  color: var(--static-color-white);
  border-radius: 16px;
  font-size: var(--type-body-s-size);
  font-weight: var(--super-light-font-weight);
  padding: 6px 16px;
  border: none;
  font-family: adobe-clean, 'Trebuchet MS', sans-serif;
}

.form.sign-in .button {
  border: 1px solid var(--static-color-caesars-red);
  border-radius: 4px;
  background: var(--static-color-caesars-red);
  color: var(--static-color-white);
  width: 100%;
  max-width: 50rem;
  height: 36px;
  line-height: 36px;
  margin-top: 16px;
  padding: 0 16px;
}

.form.sign-in .button:hover {
  transition: background-color 75ms cubic-bezier(0.4,0,0.2,1);
  transition: box-shadow 75ms cubic-bezier(0.4,0,0.2,1);
  background-color: var(--static-color-caesars-red-active);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 6%);
}

.form.sign-in .button:disabled {
  color: var(--static-color-gray);
  box-shadow: none;
  background: transparent;
  border-color: var(--static-color-gray);
  cursor: default;
}

.form .form-submit-wrapper {
  display: flex;
  justify-content: flex-end;
}

.form.sign-in .form-submit-wrapper {
  display: block;
}

.form.sign-in .form-submit-wrapper > button {
  margin-top: 0;
}
