.carousel.block {
  display: block;
  position: relative;
  --mobile-carousel-image-size: 450px;
  --desktop-carousel-image-size: 500px;
}

.carousel.block .carousel-element-holder {
  width: 100%;
}

.carousel.block .carousel-visible-element {
  position: unset;
  visibility: visible;
}

.carousel.block .carousel-hidden-element {
  position: absolute;
  visibility: hidden;
}

.carousel.block .carousel-visible-element .carousel-main-image {
  position: unset;
  visibility: visible;
  max-height: var(--mobile-carousel-image-size);
  min-height: var(--mobile-carousel-image-size);
  overflow: hidden;
}

.carousel.block .carousel-visible-element .carousel-alt-image {
  position: absolute;
  visibility: hidden;
}

.carousel.block .carousel-only-image {
  max-height: var(--mobile-carousel-image-size);
  min-height: var(--mobile-carousel-image-size);
  overflow: hidden;
}

.carousel-text {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 85%;
  color: var(--static-color-white);
  text-shadow: 0 2px 4px rgba(0,0,0,50%);
  line-height: 1.6;
  margin-left: 64px;
}

.carousel-text .button-container {
  text-shadow: none;
}

.carousel-text h1 {
  font-size: 32px;
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: 700;
}

.carousel-text h2 {
  font-size: 20px;
}

.left-text{
  text-align: left;
}

.center-text{
  text-align:center;
}

.right-text{
  text-align: right;
}

.forward-carousel-button {
  position: absolute;
  visibility: hidden;
}

.back-carousel-button {
  position: absolute;
  visibility: hidden;
}

@media only screen and (min-width: 1170px) {
  .carousel.block .carousel-visible-element .carousel-main-image {
    position: absolute;
    visibility: hidden;
  }

  .carousel.block .carousel-visible-element .carousel-alt-image {
    position: unset;
    visibility: visible;
    overflow: hidden;
  }

  .carousel.block .carousel-only-image {
    overflow: hidden;
  }

  .carousel-text {
    top: 50%;
    width: 90%;
    margin-left: 64px;
  }

  .carousel-text h1 {
    font-size: 64px;
    text-transform: uppercase;
    line-height: 1.1;
    font-weight: 700;
  }
  
  .carousel-text h2 {
    font-size: 20px;
  }

  .forward-carousel-button {
    visibility: visible;
    position: absolute;
    z-index: 5;
    min-width: 32px;
    top: 50%;
    right: 0;
  }
  
  .forward-carousel-button svg {
    display: flex;
    width: 16px;
    padding-left: 8px;
  }
  
  .back-carousel-button {
    visibility: visible;
    position: absolute;
    z-index: 5;
    min-width: 32px;
    top: 50%;
  }
  
  .back-carousel-button svg {
    display: flex;
    width: 16px;
    padding-left: 7px;
  }

  .carousel.block .carousel-slide-out {
    animation-name: slide-out;
    animation-duration: 0.3s;
  }
  
  .carousel.block .carousel-slide-in {
    animation-name: slide-in;
    animation-duration: 0.3s;
  }
}

/* Animations */
@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateX(-100vw);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}