.carousel.block[data-block-status="loaded"] {
  position: relative;
  width: 100%;
  height: 100%;
  order: 1;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.carousel.block .carousel-slide-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  height: 670px;
}

.carousel.block .carousel-slide {
  width: 100%;
  height: 100%;
  position: absolute;
}

.carousel.block .carousel-slide img {
  width: 100%;
  max-height: 670px;
  object-fit: cover;
  object-position: left top;

  /* hint browser to use GPU */
  transform: translate3d(0, 0, 0);
}

.carousel.block .carousel-slide > div {
  font-family: var(--heading-font-family);
  line-height: 1.1;
  letter-spacing: 1px;
}

.carousel.block .carousel-nav {
  display: none;
}

.carousel.block .carousel-main-image {
  position: unset;
  visibility: visible;
}

.carousel.block .carousel-alt-image {
  position: absolute;
  visibility: hidden;
}

.carousel.block .carousel-alt-video {
  position: absolute;
  visibility: hidden;
}

.carousel.block .carousel-text {
  position: absolute;
  z-index: 3;
  color: var(--static-color-white);
  text-shadow: 0 2px 4px rgba(0 0 0 / 50%);
  line-height: 1.6;
  top: 50%;
  width: 100%;
  text-align: center;
}

.carousel.block .carousel-text .button-container {
  text-shadow: none;
}

.carousel.block .carousel-text h1 {
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: var(--emphasized-font-weight);
  font-size: var(--heading-font-size-xl);
}

.carousel.block .carousel-text h2 {
  font-size: 20px;
}

.showcase.block .carousel-text {
  position: absolute;
  z-index: 3;
  bottom: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  text-shadow: unset;
  background-color: var(--static-color-white);
  color: var(--static-color-black);
  height: 64px;
  padding:  16px 10px 16px 16px;
  margin-bottom: 48px;
  margin-top: auto;
  width: calc(100% - 58px);
}

.showcase.block .carousel-slide-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  height: 528px;
}

.showcase.block .carousel-slide img {
  height: 400px;
} 

.showcase.block .carousel-slide {
  width: 90%;
  height: 100%;
  position: absolute;
  padding-right: 32px;
}

.showcase.block .carousel-text h2 {
  text-transform: uppercase;
  font-family: var(--text-font-famly);
  font-weight: var(--emphasized-font-weight);
  line-height: 22px;
  margin-bottom: 8px;
}

.showcase.block .carousel-text h4 {
  height: 15px;
  opacity: .7;
  font-size: var(--body-font-size-xs);
  font-weight: var(--emphasized-font-weight);
  margin-top: 8px;
}

.showcase.block .carousel-text p {
  display: none;
}

.showcase.block .carousel-text .button-container {
  margin: auto 0 16px auto;
}

/* Responsive breakpoints */
@media screen and (min-width: 1170px) {
  .showcase.block .carousel-slide-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    height: 686px;
  }

  .showcase.block .carousel-slide img {
    height: unset;
  } 

  .showcase.block .carousel-text {
    margin-top: unset;
    top: unset;
    width: 60%;
    padding: 16px;
    margin-bottom: -16px; 
    margin-left: -16px;
    height: 176px;
  }

  .showcase.block .carousel-text h4 {
    margin-top: unset;
  }

  .showcase.block .carousel-text p {
    display: unset;
  }

  .carousel.block .carousel-alt-image {
    position: unset;
    visibility: visible;
  }

  .carousel.block .carousel-alt-video {
    position: unset;
    visibility: visible;
  }

  .carousel.block .carousel-main-image {
    position: absolute;
    visibility: hidden;
  }

  .carousel.block .carousel-slide img {
    min-height: 670px;
  }

  .carousel.block .carousel-nav-prev {
    left: 0;
  }
  
  .carousel.block .carousel-nav-next {
    right: 0;
  }

  .carousel.block .carousel-nav svg {
    color: var(--static-color-white);
    height: 32px;
  }

  .carousel.block .carousel-nav {
    display: unset;
    z-index: 2;
    top: 50%;
    height: 32px;
    width: 32px;
    position: absolute;
    cursor: pointer;
    margin-left: 16px;
    margin-right: 16px;
    padding: 10px;
  }
  
  .carousel.block .carousel-nav:hover {
    border: 0;
    border-radius: 50%;
    background-color: rgba(190 192 197 / 20%);
    transition: background-color 75ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}