.carousel.block[data-block-status="loaded"] {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.carousel.block .carousel-slide-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  height: 670px;
}

.carousel.block .carousel-slide {
  width: 100%;
  height: 100%;
  position: absolute;
}

.carousel.block .carousel-nav,
.carousel.block .carousel-dots,
.carousel.showcase.block .carousel-dots,
.carousel.showcase.block .extended-text p,
.carousel.showcase.block .carousel-text p {
  display: none;
}

.carousel.block .carousel-slide img {
  width: 100%;
  max-height: 670px;
  object-fit: cover;
  object-position: 25% 25%;

  /* hint browser to use GPU */
  transform: translate3d(0, 0, 0);
}

.carousel.block .carousel-slide video {
  width: 100%;
  height: 670px;
  object-fit: cover;
  object-position: 25% 25%;
}

.carousel.block .carousel-slide > div {
  font-family: var(--heading-font-family);
  line-height: 1.1;
  letter-spacing: 1px;
}

.carousel.block .carousel-main-image {
  position: unset;
  visibility: visible;
}

.carousel.block .carousel-alt-image,
.carousel.block .carousel-alt-video {
  position: absolute;
  visibility: hidden;
}

.carousel.block .carousel-text {
  position: absolute;
  z-index: 3;
  color: var(--static-color-white);
  text-shadow: 0 2px 4px rgba(0 0 0 / 50%);
  line-height: 1.6;
  top: 50%;
  width: 100%;
  text-align: center;
}

.carousel.block .carousel-text .button-container {
  text-shadow: none;
}

.carousel.block .carousel-text h1 {
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: var(--emphasized-font-weight);
  font-size: var(--heading-font-size-xl);
}

.carousel.block .carousel-text h2 {
  font-size: 20px;
}

.carousel.showcase.block .carousel-text {
  position: absolute;
  z-index: 3;
  bottom: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  text-shadow: unset;
  background-color: var(--static-color-white);
  color: var(--static-color-black);
  height: var(--layout-size-xxl);
  padding:  16px 10px 16px 16px;
  margin-bottom: 48px;
  margin-top: auto;
  width: calc(100% - 58px);
}

.carousel.showcase.block .carousel-slide-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  height: 528px;
}

.carousel.showcase.block .carousel-slide img {
  height: 400px;
}

.carousel.showcase.block .carousel-slide {
  width: 90%;
  height: 100%;
  position: absolute;
  padding-right: var(--layout-size-xl);
}

.carousel.showcase.block .carousel-text h2 {
  text-transform: uppercase;
  font-family: var(--text-font-family);
  font-weight: var(--emphasized-font-weight);
  line-height: 22px;
  margin-bottom: var(--layout-size-xs);
  font-display: swap;
}

.carousel.showcase.block .carousel-text h4 {
  height: 15px;
  opacity: .7;
  font-size: var(--body-font-size-xs);
  font-weight: var(--emphasized-font-weight);
  margin-top: var(--layout-size-xs);
}

.carousel.showcase.block .carousel-text .button-container {
  margin: auto 0 16px auto;
}

/* Responsive breakpoints */
@media screen and (min-width: 1170px) {
  .carousel.showcase.block .carousel-slide-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    height: 686px;
  }

  .carousel.showcase.block .carousel-slide > div {
    font-family: unset;
    line-height: unset;
    letter-spacing: unset;
    font-size: var(--heading-font-size-s);
  }

  .carousel.showcase.block .carousel-dots {
    display: unset;
    display: flex;
    margin-left: -40px;
    margin-right: auto;
    list-style-type: none;
  }

  .carousel.showcase.block .carousel-nav-dot {
    min-width: unset;
    height: var(--layout-size-xxs);
    margin-right: var(--layout-size-xs);
    background-color: var(--static-color-light-gray);
    border: 1px solid var(--static-color-light-gray);
  }

  .carousel.showcase.block .carousel-nav-dot-active,
  .carousel.showcase.block .carousel-nav-dot:hover {
    background-color: var(--static-color-gray-medium);
    border: 1px solid var(--static-color-gray-medium);
  }

  .carousel.block .carousel-slide img {
    min-height: 670px;
  }

  .carousel.showcase.block .carousel-slide img {
    height: unset;
  }

  .carousel.showcase.block .carousel-text {
    margin-top: unset;
    top: unset;
    width: 60%;
    padding: var(--layout-size-m);
    margin-bottom: -16px;
    margin-left: -16px;
    height: 176px;
  }

  .carousel.block .carousel-text h1 {
    padding-left: 48px;
    padding-right: 48px;
  }

  .carousel.showcase.block .extended-text h4,
  .carousel.showcase.block .extended-text h2,
  .carousel.showcase.block .hidden-close-button,
  .carousel.showcase.block .extended-text .button-container  {
    display: none;
  }

  .carousel.showcase.block .active-close-button {
    display: unset;
    position: absolute;
    width: var(--layout-size-m);
    color: black;
    right: var(--layout-size-s);
    top: var(--layout-size-xs);
    content: url('../../icons/close-bold.svg');
  }

  .carousel.showcase.block .carousel-text h4 {
    margin-top: unset;
  }

  .carousel.showcase.block .carousel-text p {
    display: unset;
  }

  .carousel.showcase.block .extended-text p {
    padding-right: var(--layout-size-xl);
    overflow: hidden;
    overflow-y: scroll;
  }

  .carousel.showcase.block .carousel-text p::-webkit-scrollbar {
    display: none;
  }

  .carousel.showcase.block  span.clickable-ellipsis {
    cursor: pointer;
    margin-left: var(--layout-size-xxs);
    font-weight: var(--clickable-font-weight);
  }

  .carousel.block .carousel-alt-image,
  .carousel.block .carousel-alt-video {
    position: unset;
    visibility: visible;
  }

  .carousel.block .carousel-main-image {
    position: absolute;
    visibility: hidden;
  }

  .carousel.block .carousel-nav-prev {
    left: 0;
    content: url('../../icons/chevron-left.svg');
    height: var(--layout-size-xl);
    filter: invert(100%);
  }

  .carousel.block .carousel-nav-next {
    right: 0;
    content: url('../../icons/chevron-right.svg');
    height: var(--layout-size-xl);
    filter: invert(100%);
  }

  .carousel.block .carousel-nav {
    display: unset;
    z-index: 2;
    top: 50%;
    height: var(--layout-size-xl);
    width: var(--layout-size-xl);
    position: absolute;
    cursor: pointer;
    margin-left: var(--layout-size-m);
    margin-right: var(--layout-size-m);
    padding: 10px;
  }

  .carousel.block .carousel-nav:hover {
    border: 0;
    border-radius: 50%;
    background-color: rgba(190 192 197 / 20%);
    transition: background-color 75ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}