/* below the fold CSS goes here */

@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800|Open+Sans:400,600,700|Oswald:600&display=swap");

/* Josefin Sans Fonts */
@font-face {
    font-family: "Josefin Sans";
    src: url("../styles/fonts/JosefinSans/JosefinSans-Bold.woff2") format("woff2"), url("../styles/fonts/JosefinSans/JosefinSans-Bold.woff") format("woff");
    font-weight:700;
    font-style:normal;
    font-display: swap;
}