/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
   /* screen width breakpoints */
   --screen-width-s: 768px; /* Tablet (portrait) */
   --screen-width-m: 960px; /* Tablet (landscape) */
   --screen-width-l: 1170px; /* Desktop (small) */
   --screen-width-xl: 1440px; /* Desktop (large) */

   /* colors */
   --static-color-white: #fff;
   --static-color-black: #141414;
   --static-color-gray: #bec0c4;
   --static-color-gray-medium: #7c7c7c;
   --static-color-gray-dark: #4a4a4a;
  --link-color: var(--static-color-black);
  --background-color: var(--static-color-white);
  --text-color: #343840;

  /* fonts */
  --body-font-family: 'Open Sans',sans-serif;
  --heading-font-family: 'Josefin Sans',sans-serif;
   --fixed-font-family: "Roboto Mono", menlo, consolas, "Liberation Mono", monospace;

   /* body sizes */
  --body-font-size-m: 18px;
  --body-font-size-s: 14px;
  --body-font-size-xs: 12px;

  /* heading sizes */
  --heading-font-size-xxl: 54px;
  --heading-font-size-xl: 36px;
  --heading-font-size-l: 22px;
  --heading-font-size-m: 18px;
  --heading-font-size-s: 16px;
  --heading-font-size-xs: 14px;

  /* nav height */
  --nav-height: 64px;

  /* layout sizes */
   --layout-size-xxs: 4px;
   --layout-size-xs: 8px;
   --layout-size-s: 12px;
   --layout-size-m: 16px;
   --layout-size-l: 24px;
   --layout-size-xl: 32px;
   --layout-size-xxl: 64px;

}

body {
  margin: 0;
  border: 0;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
  line-height: 1.1;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
  text-rendering: optimizespeed;
  -webkit-font-smoothing: antialiased;

}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  line-height: 1.1;
  padding: 0;
  margin: var(--layout-size-xl) 0;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Links */
:any-link{
  color: var(--link-color);
  text-decoration: none;
}

:any-link:hover,
:any-link:active {
  background: transparent;
  text-decoration: underline;
  box-shadow: none;
}

/* Any Button */
.cet-card a,
a.button:any-link,
button {
  display: inline-block;
  box-sizing: border-box;
  height: 36px;
  line-height: 36px;
  font-family: var(--body-font-family);
  vertical-align: middle;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  touch-action: manipulation;
  text-transform: capitalize;
}

/* Primary/Secondary button */
.cet-card strong > a,
.button-container > strong > a.primary,
.button-container > em > a.secondary,
button {
  min-width: 133px;
  border: 1px solid var(--static-color-black);
  border-radius: 4px;
  padding: 0 var(--layout-size-m);
  text-align: center;
  text-transform: uppercase;
  color: var(--static-color-white);
  background-color: var(--static-color-black);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Secondary button */
.button-container > em > a.secondary,
button.secondary {
  background-color: var(--static-color-white);
  border: 1px solid var(--static-color-gray-dark);
  color: var(--text-color);
}

/* Link button */
main .button-container > a.primary {
  padding: var(--layout-size-xs) 0 0;
}

main .button-container > a.primary::after {
  content: '';
  display: inline-block;
  position: relative;
  width: 9px;
  height: 9px;
  left: 2px;
  border-style: solid;
  border-width: 2px 2px 0 0;
  vertical-align: middle;
  transform: rotate(45deg);
  margin-bottom: 2px;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--static-color-gray);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* Sections */
main .section {
  margin: 0 auto;
  padding: 0 var(--layout-size-m);
}

main .section.has-background {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

main .section.has-background > picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

main .section.has-background > picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

main .section.margin-top {
  margin: var(--layout-size-xxl) 0 0;
}

main .section.margin-bottom {
  margin: 0 0 var(--layout-size-xxl);
}

main .section.has-overlay {
  --link-color: var(--static-color-white);

  color: var(--static-color-white);
}

main .section.has-overlay::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--static-color-black);
  opacity: .8;
}

main .section > div {
  position: relative;
  margin: 0 auto;
  padding: 0 var(--layout-size-m);
}

main .section > div:first-of-type {
  padding-top: var(--layout-size-xxl);
}

main .section > div:last-of-type {
  padding-bottom: var(--layout-size-xxl);
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}


/* Responsive Breakpoints */

/* Tablet (portrait) */
@media  only screen and (min-width: 768px) {
  main .section > div {
    width: var(--screen-width-s);
  }
}

/* Tablet (landscape) */
@media  only screen and  (min-width: 960px) {
  :root {
    --body-font-size-m: 22px;
    --body-font-size-s: 16px;
    --heading-font-size-xxl: 80px;
    --heading-font-size-xl: 60px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 18px;
    --heading-font-size-xs: 16px;
  }

  main .section > div {
    width: var(--screen-width-m);
  }

  /* Inline buttons */
  .inline-button  a {
    margin-right: var(--layout-size-m);
  }
}

/* Desktop (small) */
@media  only screen and  (min-width: 1170px) {
  :root {
    --heading-font-size-xxl: 94px;
  }

  main .section > div {
    width: var(--screen-width-l);
  }
}

/* Desktop (large) */
@media  only screen and  (min-width: 1440px) {
  main .section > div {
    width: var(--screen-width-xl);
  }
}
