.tabs.block .tabs-navbar {
  display: flex;
}

.tabs.block .tab {
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
}

.tabs.block .tab-title {
  text-transform: uppercase;
}

.tabs.block .tab-image {
}

.tabs.block .tab-text {
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.tabs.block .tab-text h3 {
  text-transform: uppercase;
}

.tabs.block .tab-text .button-container {
  margin-left: auto; 
  margin-right: 16px;
}

/* Breakpoints
--screen-width-s: minwidth-768px: Image on top of tab goes left
*/