.tabs.block .tab-navbar {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.tabs.block .tab-title {
  text-transform: uppercase;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 0.8;
  opacity: 0.95;
  font-weight: 600;
  flex-shrink:0;
}

.tabs.block .tab {
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column;
}

.tabs.block .active-tab {
  animation-name: slideIn;
  animation-duration: 1s;
}

.tabs.block .hidden {
  display: none;
}

.tabs.block .active-tab-title {
  box-shadow: 0 3px 0 0 black;
  padding-bottom: 4px;
  font-weight: 700;
  transition: font-weight .5s ease;
}

.tabs.block .tab-title:hover {
  box-shadow: 0 3px 0 0 black;
  padding-bottom: 4px;
  transition: all .5s ease;
}

.tabs.block .tab-image img {
  width: 100%;
  height: auto;
}

.tabs.block .tab-text {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.tabs.block .tab-text h2 {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.tabs.block .tab-text h3 {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.tabs.block .tab-text h4 {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.tabs.block .tab-text .button-container {
  margin-left: auto; 
  margin-right: 16px;
  margin-bottom: 0;
}

/* Responsive Breakpoints */
@media  only screen and (min-width: 768px) {
  .tabs.block .tab {
    flex-direction: row;
    box-shadow: none;
  }

  .tabs.block .tab .tab-text {
    flex: 1;
  }

  .tabs.block .tab .tab-image {
    flex: 1;
  }

  .tabs.block .tab-text .button-container {
    margin-left: 0; 
    margin-right: 0;
  }

  .tabs.block .tab-image img {
    width: 100%;
    height: auto;
  }
}

/* Animations */
@keyframes slideIn {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0;
  }
}