* {
  box-sizing: border-box;
}

.slider-wrapper .slider {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 16px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}


/* To prevent scrolling on the cards */
.slider-wrapper {
  overflow: hidden;
}

.slider-wrapper .slider .card {
  flex: 1 0 100%;
  height: auto;
  width: 100%;
  cursor: grab;
  user-select: none;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
  overflow: scroll;
}

.slider .card .short-description {
  display: none;
}

.slider .card .short-description.active {
  padding: 16px;
  border: 1px solid var(--highlight-background-color);
  background: #fff;
  height: 180px;
  display: block;
}

.slider .card .short-description .subtitle
{
  opacity: .7;
  font-size: 10px;
  font-weight: var(--emphasized-font-weight);
  padding-top: 5px;
}

.slider .card .close-button {
  background: url("../../icons/close-bold.svg") no-repeat;
  min-width: 20px;
  min-height: 20px;
  transform: scale(0.8);
  float: right;
  margin-bottom: 10px;
  cursor: pointer;
}

.slider .card .close-button.hide {
  display: none;
}

.slider .card .short-description .title {
  font-family: var(--text-font-family);
  font-weight: var(--emphasized-font-weight);
  font-size: 18px;
  text-transform: uppercase;
}

.slider .card .button-container {
  text-align: right;
}

.slider .card .show-more {
  text-transform: lowercase;
  cursor: pointer;
}

.slider .card .long-description {
  display: none;
}

.slider .card .long-description.active {
  padding: 16px;
  border: 1px solid var(--highlight-background-color);
  background: #fff;
  display: block;
  height: 180px;
}

.slider.no-image .card .long-description.active {
  margin: 0;
}

.slider .card .long-description.active > p:first-of-type {
  display: none;
}

.slider .card > div > picture > img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .slider-wrapper .slider .card {
    width: 100%;
  }

  .slider .card .long-description.active > p:first-of-type {
    display: block;
    font-weight: var(--emphasized-font-weight);
    font-size: 16px;
    text-transform: uppercase;
  }
}

@media (min-width: 769px) {
  .slider-wrapper .slider {
    display: flex;
    flex-direction: row;
    width: calc((100%/3) - 10px);
    gap: 10px;
    font-size: var(--body-font-size-xs);
  }

  .slider .card .short-description.active {
    margin: -35px 15px 15px;
    background: #fff;
    position: relative;
    padding: 16px;
    font-size: var(--body-font-size-xs);
    height: 180px;
  }

  .slider.no-image .card .short-description.active {
    margin: 0;
  }

  .slider .card .long-description.active {
    margin: -35px 15px 15px;
    position: relative;
    padding: 16px;
    display: block;
    height: 180px;
  }

  .slider.no-image .card .long-description.active {
    margin: 0;
  }

  .slider .card .close-button {
    margin: 0 20px 20px;
    position: relative;
    z-index: 2;
  }

  .slider-button {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 100;
    top: 30%;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 80%;
    box-shadow: 0 10px 15px -3px rgba(0 0 0 / 10%), 0 4px 6px -2px rgba(0 0 0 / 6%);
  }

  .slider-button:first-of-type, .slider.no-image + .slider-button {
    top: 40%;
  }

  .slider-button.left {
    left: -.5%;
  }

  .slider-button.left::after {
    content: '';
    background: url("../../icons/chevron-left.svg") no-repeat;
    min-width: 20px;
    min-height: 20px;
    transform: scale(1.0);
    left: 10px;
    top: 7px;
    z-index: 90;
    position: absolute;
  }

  .slider-button.right {
    right: 0.5%;
  }

  .slider-button.right::after {
    content: '';
    background: url("../../icons/chevron-right.svg") no-repeat;
    min-width: 20px;
    min-height: 20px;
    transform: scale(1.0);
    left: 10px;
    top: 7px;
    z-index: 90;
    position: absolute;
  }
}
