/* To prevent scrolling on the cards */
.slider.block {
  overflow: hidden;
  overflow-y: scroll;
  padding: 2px;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider.block .card-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s ease-out;
}

.slider * {
  box-sizing: border-box;
}

.slider .card {
  flex: 1 0 100%;
  width: 100%;
  cursor: grab;
  user-select: none;
}

.slider.flat .card {
  text-align: center;
}

.slider.no-image .card {
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
}

.slider.no-image .card .short-description,
.slider.flat .card .short-description {
  box-shadow: unset;
}

.slider:not(.flat) .card .short-description {
  background: var(--static-color-white);
}

.slider.block .card .short-description {
  padding: 16px 32px 16px 16px;
  height: 180px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
  color: var(--text-color);
}

.slider .card .extended-text p {
  height: 180px;
  overflow: hidden;
  overflow-y: scroll;
}

.slider .card .extended-text p::-webkit-scrollbar {
  display: none;
}

.slider .extended-text .button-container {
  display: none;
}

.slider:not(.flat) .card .button-container {
  text-align: right;
  position: absolute;
  margin-top: 115px;
  margin-left: 280px;
}

.slider.flat .card .button-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.slider.full-card .card-wrapper .tall-card .button-container,
.slider-container  .slider.block .card-wrapper .tall-card .button-container {
    margin-left: unset;
    width: 100%;
    padding-right: 8%;
}

.slider .extended-text h4 {
  display: none;
}

.slider .extended-text h5 {
  display: none;
}

.slider .card .short-description h4 {
  text-transform: uppercase;
  line-height: 1.1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.slider .card .short-description h5 {
  opacity: .7;
  font-size: 12px;
  font-weight: var(--emphasized-font-weight);
  margin-top: 5px;
  line-height: 1.25;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.slider .card .active-close-button {
  position: absolute;
  top: var(--layout-size-xs);
  right: var(--layout-size-xxs);
  background: url('../../icons/close-bold.svg') no-repeat;
  min-width: var(--layout-size-xl);
  min-height: var(--layout-size-xl);
  transform: scale(0.8);
  cursor: pointer;
  z-index: 2;
}

.slider.block .tall-card {
  display: flex;
  flex-direction: column;
}

.slider.full-card .tall-card .card-image,
.slider .card.tall-card .card-image {
  flex: 1;
}

.slider .card img {
  width: 100%;
  object-fit: cover;
}

.slider.flat .card img {
  width: 287px;
  height: 160px;
  object-fit: contain;
}

.slider.full-card .tall-card .card-image picture img {
  aspect-ratio: unset;
  height: 100%;
}

.slider .tall-card .active-close-button {
  position: absolute;
  top: var(--layout-size-xs);
  right: var(--layout-size-xxs);
  background: url('../../icons/close-bold.svg') no-repeat;
  min-width: var(--layout-size-xl);
  min-height: var(--layout-size-xl);
  transform: scale(0.8);
  cursor: pointer;
  z-index: 2;
}

.slider .card .hidden-close-button {
  display: none;
}

.clickable-ellipsis {
  cursor: pointer;
  margin-left: var(--layout-size-xxs);
  font-weight: var(--clickable-font-weight);
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .slider .card {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .slider:not(.flat) .card .short-description {
    margin: -35px 15px 15px;
    background: var(--static-color-white);
    position: relative;
    padding: 16px 32px 16px 16px;
    height: 180px;
  }

  .slider.no-image .card .short-description {
    margin: 0;
  }

  .slider:not(.flat).full-card .card .short-description {
    margin: unset !important;
  }

  .slider:not(.flat) .card .extended-text::-webkit-scrollbar {
    display: none;
  }

  .slider-button {
    position: absolute;
    z-index: 10;
    top: calc(45% - 25px);
    background-color: var(--static-color-white);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 10px 15px -3px rgba(0 0 0 / 10%), 0 4px 6px -2px rgba(0 0 0 / 6%);
    cursor: pointer;
  }

  .slider.hide-arrows .slider-button {
    display: none;
  }

  .slider-button::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .slider-button.left {
    left: -8px;
  }

  .slider-button.left::after {
    background: url("../../icons/chevron-left.svg") no-repeat;
    filter: invert(50%);
  }

  .slider-button.right {
    right: -8px;
  }

  .slider-button.right::after {
    background: url("../../icons/chevron-right.svg") no-repeat;
    filter: invert(50%);
  }
}

@media only screen and (min-width: 1170px) {
  .slider.spacious .card-wrapper {
    gap: 50px;
  }
}

@media (min-width: 1440px) {
  .slider-wrapper .compact img {
    max-height: 300px;
    object-fit: cover;
  }
}
