.section.featured-card-container {
  padding-top: var(--layout-size-xl);
  padding-bottom: var(--layout-size-xl);
}

.featured-card-wrapper {
  padding-bottom: 8px !important;
  background-color: rgba(0 0 0 / 80%);
}

.featured-card.block {
  margin-top: -42px;
}

.featured-card-background {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.featured-card-background > div > picture {
  position: absolute;
  z-index: -5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.featured-card-background > div > picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.featured-card-content {
  text-align: center;
  color: var(--static-color-white);
}

.featured-card-content h4 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.featured-card-image {
  object-fit: cover;
}

.featured-card-text .button-container {
  padding-top: 8px;
}

/* Responsive Breakpoints */
@media only screen and (min-width: 768px) {
  .section.featured-card-container {
    padding-top: var(--layout-size-xl);
    padding-bottom: 64px;
  }

  .featured-card-wrapper {
    padding-bottom: var(--layout-size-xxl) !important;
    background-color: rgba(0 0 0 / 80%);
    min-height: 380px;
  }

  .featured-card.block {
    margin-top: unset;
  }
  .featured-card-content {
    text-align: left;
    color: var(--static-color-white);
  }

  .featured-card-image {
    position: absolute;
    object-fit: cover;
    width: 50%;
    margin-left: 45%;
    margin-top: 5%;
  }

  .featured-card-text {
    position: absolute;
    width: 30%;
    padding-left: 120px;
    padding-right: 136px;
  }
}