.section.featured-card-container {
  padding-top: var(--layout-size-xl);
  padding-bottom: var(--layout-size-xl);
}

.featured-card-wrapper {
  padding-bottom: 8px !important;
  background-color: rgba(0 0 0 / 80%);
}

.featured-card.block {
  margin-top: -42px;
}

.featured-card-background {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.featured-card-background > div > picture {
  position: absolute;
  z-index: -5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.featured-card-background > div > picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.featured-card-content {
  text-align: center;
  color: var(--static-color-white);
}

.featured-card-content h4 {
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 600;
    font-size: 36px;
}

.featured-card-image {
  object-fit: cover;
}

.featured-card-text .button-container {
  padding-top: 8px;
}

/* Responsive Breakpoints */
@media only screen and (min-width: 768px) {
  .section.featured-card-container {
  }

  .featured-card-wrapper {
  }

  .featured-card.block {
  }

  .featured-card-content {
    display: flex;
    margin-top: 64px;
    text-align: left;
    color: var(--static-color-white);
  }

  .featured-card-image {
    flex: 1 0 50%;
  }

  .featured-card-image > picture {
  }

  .featured-card-image > picture > img {
  }

  .featured-card-text {
    flex: 1 0 50%;
  }

  .featured-card-text > h4 {
    padding-left: 32px;
    padding-right: 32px;
  }

  .featured-card-text > p {
    padding-left: 32px;
    padding-right: 32px;
  }

  .featured-card-text h4 {
    font-weight: 600;
    font-size: 36px;
  }
}