/* stylelint-disable no-descending-specificity */

header {
  --nav-title-color: #707784;
  --nav-item-color: #565d6a;
}

/* header and nav layout */
header .nav-wrapper {
  background-color: var(--static-color-black);
  width: 100%;
  z-index: 2;
  position: fixed;
  text-transform: uppercase;
}

header .global-nav-desktop {
  display: none;
}

header nav .local-nav .dropdown-menu {
  display: none;
}

header nav .local-nav .dropdown-menu.active {
  display: flex;
  flex-direction: column;
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4,0,0.2,1);
  position: absolute;
  top: 70px;
  min-width: 211px;
  background: var(--static-color-white);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 2em;
  margin: auto;
  max-width: 1264px;
  height: var(--nav-height);

  /* padding-left: 1rem; */
  font-family: var(--body-font-family);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 6%);
}

header nav[aria-expanded=true] {
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0.4,0,0.2,1);
  z-index: 10;
}

header nav p {
  margin: 0;
  line-height: 1;
}

/* brand */
header .nav-brand {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  
  /* margin-right: 16px; */
}

header .nav-brand p {
  /* margin: unset; */
  line-height: unset;
  height: var(--nav-height);
  width: 100%;
}

header .nav-brand a {
  /* margin: unset; */
  display: flex;
  align-items: center;
  position: relative;
  height: var(--nav-height);
  width: 100%;
  padding: 5px 0;
}

header .nav-brand a::after {
  content: '';
  position: absolute;
  background: url('../../icons/caesars-palace-logo.svg') no-repeat;
  height: 40px;
  width: 111px;
  left: 30%;
  right: 30%;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  position: relative;
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav[aria-expanded=false] button::before {
  content: '';
  position: absolute;
  background: url('../../icons/hamburger.svg') no-repeat;
  width: 16px;
  height: 24px;
  top: 0;
  left: 1rem;
}

header nav[aria-expanded=true] button::before {
  content: '';
  position: absolute;
  background: url('../../icons/close.svg') no-repeat;
  width: 16px;
  height: 24px;
  top: 0;
  left: 1rem;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header nav[aria-expanded=true] .nav-sections {
  visibility: visible;
  align-self: start;
  grid-area: sections;
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 100vh;
  width: 320px;
  overflow-y: auto;
  background-color: var(--static-color-white);
  list-style-type: none;
  padding-left: 1rem;
}

header nav[aria-expanded=true]::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: '';
  visibility: visible;
  background-color: rgb(20 20 20 / 50%);
  z-index: -1;
  pointer-events: none;
}

header nav[aria-expanded=true] .nav-sections > div {
  margin-left: -1rem;
  padding-left: 1rem;
  border-bottom: 1px solid #bec0c5;
}

header nav .nav-sections .global-nav[aria-hidden=true] {
  display: none;
}

header nav[aria-expanded=true] .nav-sections .user-account-mobile {
  display: flex;
  min-height: 84px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

header nav[aria-expanded=true] .nav-sections .user-account-mobile::before {
  content: '';
  margin-right: 10px;
  right: 16px;
  width: 16px;
  height: 16px;
  background: url('../../icons/user-circle.svg') no-repeat;
}

header nav[aria-expanded=true] .nav-sections .local-nav-title,
header nav[aria-expanded=true] .nav-sections .global-nav-title {
  display: flex;
  position: relative;
  font-size: var(--heading-font-size-xxs);
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 25px;
  color: var(--nav-title-color);
  cursor: pointer;
  align-items: center;
  height: 44px;
}

header nav[aria-expanded=true] .nav-sections .local-nav[aria-expanded="false"] .local-nav-title::after,
header nav[aria-expanded=true] .nav-sections .global-nav[aria-expanded="false"] .global-nav-title::after {
  content: '';
  position: absolute;
  right: 16px;
  width: 16px;
  height: 16px;
  background: url('../../icons/chevron-down.svg') no-repeat;
}

header nav[aria-expanded=true] .nav-sections .local-nav[aria-expanded="true"] .local-nav-title::after,
header nav[aria-expanded=true] .nav-sections .global-nav[aria-expanded="true"] .global-nav-title::after {
  content: '';
  position: absolute;
  right: 16px;
  width: 16px;
  height: 16px;
  background: url('../../icons/chevron-down.svg') no-repeat;
  transform: rotate(180deg);
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

header nav[aria-expanded=true] .nav-sections .local-nav[aria-expanded="false"] ul,
header nav[aria-expanded=true] .nav-sections .global-nav[aria-expanded="false"] ul {
  max-height: 0;
  display: none;
  transition: max-height 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

header nav[aria-expanded=true] .nav-sections .local-nav[aria-expanded="true"] ul,
header nav[aria-expanded=true] .nav-sections .global-nav[aria-expanded="true"] ul {
  max-height: fit-content;
  margin: unset;
  transition: max-height 200ms cubic-bezier(0.4, 0, 1, 1);
}

header nav .nav-sections ul > li {
  font-weight: var(--emphasized-font-weight);
}

header nav[aria-expanded=true] .nav-sections .local-nav[aria-expanded="true"] ul li,
header nav[aria-expanded=true] .nav-sections .global-nav[aria-expanded="true"] ul li {
  margin-left: -1em;
  padding-left: 1em;
  transition: background-color 150ms cubic-bezier(0.4,0,0.2,1);
}

header nav[aria-expanded=true] .nav-sections .local-nav[aria-expanded="true"] ul li:hover,
header nav[aria-expanded=true] .nav-sections .global-nav[aria-expanded="true"] ul li:hover {
  cursor: pointer;
  transition: background-color 75ms cubic-bezier(0.4,0,0.2,1);
  background-color: var(--static-color-light-gray);
}

header nav[aria-expanded=true] .nav-sections .local-nav[aria-expanded="true"] ul li a,
header nav[aria-expanded=true] .nav-sections .global-nav[aria-expanded="true"] ul li a {
  text-decoration: none;
  color: var(--nav-item-color);
  font-size: var(--body-font-size-s);
  font-weight: var(--clickable-font-weight);
  letter-spacing: 1.17px;
  line-height: 3;
  height: 44px;
  opacity: .95;
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}

header nav .nav-tools p:first-of-type a {
  background-color: rgb(255 255 255 / 15%);
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  min-width: unset;
  color: var(--static-color-white);
  font-size: var(--link-font-size-xs);
  font-weight: 700;
  line-height: 22.4px;
  border-radius: 0;
  height: 100%;
   
  /* font-family: 'Open Sans',sans-serif; */
  text-align: center;
  white-space: nowrap;
  touch-action: manipulation;
  background-image: none;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: box-shadow 150ms cubic-bezier(0.4,0,0.2,1);
}

header nav .nav-tools p:last-of-type a {
  display: none;
}

header nav .nav-tools p:first-of-type a:hover {
  background-color: rgb(255 255 255 / 15%);
  text-decoration: none;
  box-shadow: none;
}

@media (min-width: 1170px) {
  header nav .local-nav .more {
    color: var(--static-color-white);
    opacity: unset;
    display: inline-block;
    text-decoration: none;
    font-size: var(--body-font-size-xs);
    font-weight: var(--clickable-font-weight);
    height: 70px;
  }

  header nav .local-nav .more-link {
    display: flex !important;
    align-items: center;
  }

  header nav .local-nav .dropdown:hover {
    background-color: var(--static-color-light-gray);
  }

  header nav .local-nav .menu-item {
    margin-left: 1em;
  }

  /* Global Nav */
  header .global-nav-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 var(--layout-size-m);
    justify-content: flex-start;
    max-width: 1170px;
    height: var(--global-nav-height);
    transition: height .2s ease-in-out;
    overflow: visible;
    background-color: white;
    gap: 0 2em;
    margin: auto;
    font-family: var(--body-font-family);
  }
  
  header.is-sticky .global-nav-desktop {
    height: 0;
  }

  header nav .more-link::after {
    content: '';
    background: url("../../icons/chevron-white-down.svg") no-repeat;
    min-width: 15px;
    min-height: 15px;
    transform: scale(1.0);
    margin-left: 0.5em;
    transition: transform 200ms cubic-bezier(0.4, 0, 1, 1) 0ms;
  }

  header nav .more-link.active::after {
    transform: scaleY(-1);
    transition: transform 200ms cubic-bezier(0.4, 0, 1, 1) 0ms;
  }

  header .global-nav-desktop .logo {
    display: flex;
    justify-content: center;
    width: 200px;
  }

  header .global-nav-desktop .logo svg {
    height: 40px;
  }

  header .global-nav-desktop ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    height: 100%;
    padding: unset;
  }

  header .global-nav-desktop ul li {
    border: 0;
  }

  header .global-nav-desktop ul li a, 
  header .global-nav-desktop div a {
    color: #343840;
    font-size: var(--link-font-size-s);
    font-weight: 400;
    align-items: center;
    text-decoration: none;
    height: 100%;
    text-align: center;
    white-space: nowrap;
    touch-action: manipulation;
    background-image: none;
    border-radius: 4px;
    vertical-align: middle;
    padding: 0 var(--layout-size-m);
    text-transform: uppercase;
    line-height: 36px;
    min-width: 133px;
    letter-spacing: 1px;
  }

  header .global-nav-desktop ul li a:hover {
    text-decoration: none;
  } 
  
  /* Local Nav */
  header nav {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    overflow: visible;

    /* max-width: unset; */
    background-color: rgb(20 20 20 / 9%);
  }
  
  header nav::after {
    display: none;
  }

  /* Hide Hamburger */
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }

  /* Nav Brand / Logo */
  header nav .nav-brand {
    display: flex;
    height: 120px;
    min-width: 200px;
    background-color: var(--static-color-black);
    transform: scale(1.1) translateY(25px);
    transition: transform 200ms cubic-bezier(0.4, 0, 1, 1) 0ms;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 6%);
    align-items: unset;
    align-self: flex-start;
  }

  header.is-sticky nav .nav-brand{
    transform: translateY(10px);
    height: var(--global-nav-height);
    transition: transform 200ms cubic-bezier(0.4, 0, 1, 1) 0ms;
    transition: height 200ms cubic-bezier(0.4,0,1,1);
  }

  header nav .nav-brand p a {
    display: flex;
    align-items: center;
    height: var(--nav-height);
  }

  header.is-sticky nav .nav-brand p a {
    height: var(--global-nav-height);
  }

  header nav .nav-brand p a::after {
    content: '';
    position: absolute;
    background: url('../../icons/caesars-palace-logo.svg') no-repeat;
    height: 58px;
    width: 215px;
    left: 0;
    top: 50%;
  }

  header.is-sticky nav .nav-brand p a::after {
    top: auto;
    left: 0;
  }

  /* Nav Section */
  header nav[aria-expanded=true] .nav-sections {
    display: flex;
    position: relative;
    align-self: unset;
    visibility: visible;
    flex-direction: column;
    list-style-type: none;
    background-color: rgb(20 20 20 / 9%);
    height: unset;
    width: unset;
    padding: unset;
    overflow: unset;
    top: unset;
    left: unset;
    border: unset;
  }

  header nav[aria-expanded=true] .nav-sections > div {
    border: unset;
  }

  header nav[aria-expanded=true] .nav-sections .local-nav-title {
    display: none;
  }

  header nav[aria-expanded=true] .nav-sections .user-account-mobile {
    display: none;
  }

  header nav .nav-sections ul {
    display: flex;
    position: relative;
    margin: 0;
    flex-direction: row;
    top: unset;
    left: unset;
    background-color: rgb(20 20 20 / 9%);
    border: 0;
    width: 100%;
    height: 100%;
    max-height: unset;
    transform: none;
    transition: none;
  }

  header nav .nav-sections ul li {
    border: 0;
    padding: 0 var(--layout-size-m);
    margin: unset;
  }

  header nav[aria-expanded=true] .nav-sections .local-nav[aria-expanded="true"] ul li a:not(.menu-item) {
    color: var(--static-color-white);
    opacity: unset;
    display: inline-block;
    text-decoration: none;
    font-size: var(--body-font-size-xs);
    font-weight: 600;
    height: 70px;
    line-height: 6;
  }

  header nav[aria-expanded=true] .nav-sections .local-nav[aria-expanded="true"] ul li:hover {
    background-color: unset;
    transition: unset;
  }

  header nav[aria-expanded=true] .nav-sections .local-nav[aria-expanded="true"] ul li a:not(.more-link, .menu-item)::after {
    content: '';
    display: block;
    height: 3px;
    transform: scaleX(0);
    transition: transform .15s cubic-bezier(0.4, 0, 0.2, 1);
    margin: -22px auto 0;
    background-color: var(--static-color-white);
  }

  header nav[aria-expanded=true] .nav-sections .local-nav[aria-expanded="true"] ul li a:hover::after:not(.more-link) {
    transform: scaleX(1);
  }

  /* Tools */
  header nav .nav-tools p:last-of-type a {
    color: var(--static-color-black);
    border-color: var(--static-color-black);
    background-color: var(--static-color-white);
    border: 1px solid #4a4a4a;

    /* font-family: 'Open Sans',sans-serif; */
    font-weight: 600;
    font-size: var(--body-font-size-s);
    text-align: center;
    white-space: nowrap;
    touch-action: manipulation;
    background-image: none;
    border-radius: 4px;
    vertical-align: middle;
    padding: 0 var(--layout-size-m);
    text-transform: uppercase;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    min-width: 133px;
    letter-spacing: 1px;
    transition: background-color 150ms cubic-bezier(0.4,0,0.2,1);
    transition: box-shadow 150ms cubic-bezier(0.4,0,0.2,1);
  }

  header nav .nav-tools p:last-of-type a:hover {
    background: var(--static-color-white);
    text-decoration: none;
    box-shadow: none;
  }

  header nav .nav-tools p:first-of-type a {
    display: none;
  }
}

@media (min-width: 1440px) {
  header nav {
    width: var(--screen-width-xl);
    margin-right: auto;
    margin-left: auto;
  }

  header .global-nav-desktop {
    width: var(--screen-width-xl);
    margin-right: auto;
    margin-left: auto;
  }
}

header .user-account {
  cursor: pointer;
}

header .user-menu {
  display: none;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

header .user-menu.open {
  display: block;
}

header .user-menu-close {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 28px;
  cursor: pointer;
  width: 24px;
  height: 32px;
  z-index: 13;
}

header .user-menu-close::after {
  display: block;
  background: url('../../icons/close-bold.svg') no-repeat;
  width: 32px;
  height: 24px;
  margin-left: 4px !important;
  margin-right: 0;
  stroke: #000;
  content: '';
  transition: transform 250ms cubic-bezier(0.4,0,0.2,1);
}

header .user-menu-container {
  top: 0;
  right: -3px;
  z-index: 11;
  display: block;
  transform: translateX(0);
  transition: transform 200ms cubic-bezier(0.4,0,1,1);
  transition: height 200ms cubic-bezier(0.4,0,1,1);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
  position: fixed;
  background-color: #fff;
  height: 100vh;
  border-radius: 2px;
  max-width: 300px;
  padding: 20px;
}

header .user-menu.open::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  background-color: rgb(20 20 20 / 50%);
  z-index: -1;
  pointer-events: none;
}

@media (min-width: 1170px) {
  header .user-menu.open::before {
    display: none;
  }

  header .user-menu-container {
    transform: unset;
    top: 0;
    right: 24px;
    height: auto;
    max-width: 360px;
  }

  header .user-menu-close {
    top: 16px;
    right: 48px;
  }

  header.is-sticky .user-menu.open {
    display: none;
  }
}
