/* header and nav layout */
header .nav-wrapper {
  background-color: var(--static-color-black);
  width: 100%;
  z-index: 2;
  position: fixed;
  text-transform: uppercase;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--mobile-nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 2em;
  margin: auto;
  max-width: 1264px;
  height: var(--mobile-nav-height);

  /* padding-left: 1rem; */
  font-family: var(--body-font-family);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 6%);
}

header nav[aria-expanded=true] {
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0.4,0,0.2,1);
  z-index: 10;
}

header nav p {
  margin: 0;
  line-height: 1;
}

/* brand */
header .nav-brand {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  
  /* margin-right: 16px; */
}

header .nav-brand p {
  /* margin: unset; */
  line-height: unset;
  height: var(--mobile-nav-height);
  width: 100%;
}

header .nav-brand a {
  /* margin: unset; */
  display: flex;
  align-items: center;
  position: relative;
  height: var(--mobile-nav-height);
  width: 100%;
  padding: 5px 0;
}

header .nav-brand a::after {
  content: '';
  position: absolute;
  background: url('../../icons/caesars-palace-logo.svg') no-repeat;
  height: 40px;
  width: 111px;
  left: 30%;
  right: 30%;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  position: relative;
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav[aria-expanded=false] button::before {
  content: '';
  position: absolute;
  background: url('../../icons/hamburger.svg') no-repeat;
  width: 16px;
  height: 24px;
  top: 0;
  left: 1rem;
}

header nav[aria-expanded=true] button::before {
  content: '';
  position: absolute;
  background: url('../../icons/close.svg') no-repeat;
  width: 16px;
  height: 24px;
  top: 0;
  left: 1rem;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
}

header nav[aria-expanded=true] .nav-sections {
  visibility: visible;
  align-self: start;
  grid-area: sections;
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 100vh;
  width: 320px;
  overflow-y: auto;
  background-color: var(--static-color-white);
  list-style-type: none;
  padding-left: 1rem;
}

header nav[aria-expanded=true]::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: '';
  visibility: visible;
  background-color: rgb(20 20 20 / 50%);
  z-index: -1;
  pointer-events: none;
}

header nav .nav-sections .global-nav[aria-hidden=true] {
  display: none;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

header nav .nav-sections ul > li {
  font-weight: var(--emphasized-font-weight);
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}

header nav .nav-tools p:first-of-type a {
  background-color: rgb(255 255 255 / 15%);
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  min-width: unset;
  color: #fff;
  font-size: 9px;
  font-weight: 700;
  line-height: 22.4px;
  border-radius: 0;
  height: 100%;
   
  /* font-family: 'Open Sans',sans-serif; */
  text-align: center;
  white-space: nowrap;
  touch-action: manipulation;
  background-image: none;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: box-shadow 150ms cubic-bezier(0.4,0,0.2,1);
}

header nav .nav-tools p:last-of-type a {
  display: none;
}

header nav .nav-tools p:first-of-type a:hover {
  background-color: rgb(255 255 255 / 15%);
  text-decoration: none;
  box-shadow: none;
}

@media (min-width: 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
  }

  header nav[aria-expanded=true] {
    min-height: 0;
    overflow: visible;
  }
  
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }

  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded=true] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: .5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded=true]::after {
    top: unset;
    bottom: .5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 2em;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav .nav-sections > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
  }

  header nav .nav-sections > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections > ul > li[aria-expanded=true] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: var(--highlight-background-color);
    white-space: initial;
  }

  header nav .nav-sections > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;    
    border-bottom: 8px solid var(--highlight-background-color);
  }

  header nav .nav-sections > ul > li > ul > li {
    padding: 8px 0;
  }
}