.quick-facts-hours.block {
  display: flex;
  justify-content: center;
}

.quick-facts-hours.block .quick-facts-hours-container {
  display: flex;
  align-items: center;
  background: rgba(255 255 255 / 10%);
  border-radius: 4px;
  height: 50px;
  padding: 2px 16px;
}

.quick-facts-hours.block .hours-status {
  font-weight: var(--emphasized-font-weight);
  font-size: 22px;
  text-transform: uppercase;
}

.quick-facts-hours.block .status-closed {
  width: 24px;
  height: 24px;
  filter: invert(100%);
  content: url('../../icons/calendar-closed.svg');
  padding-right: 16px;
}

.quick-facts-hours.block .status-open {
  width: 24px;
  height: 24px;
  filter: invert(100%);
  content: url('../../icons/calendar-open.svg');
  padding-right: 16px;
}

.quick-facts-hours.block .next-status-change {
  padding: 0 16px;
  font-weight: var(--clickable-font-weight);
}

.quick-facts-hours.block .quick-facts-hours-container a {
  color: white;
  font-weight: var(--clickable-font-weight);
}

.always-open.block .quick-facts-hours-container a {
  color: white;
  font-weight: var(--emphasized-font-weight);
  font-size: 22px;
  text-transform: uppercase;
  text-decoration:none;
}